<h1><%= @doctor.name %></h1>

<% @doctor.appointments.sort.each do |appointment| %>
    <div><%= link_to appointment.patient.name, patient_path(appointment.patient) %> - <%= appointment.schedule %></div>
<% end %>