<h1>Appointment</h1>

<h3>On: <%= @appointment.schedule %></h3>

<div>
    <strong>Doctor:</strong><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
</div>
<div>
    <strong>Patient:</strong><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
</div>

